In [1]:
import keras
from keras.layers import *
from keras.models import Model, Sequential, load_model
from keras.regularizers import *
from keras.activations import *

Using TensorFlow backend.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
train_data=pd.read_csv('mnist_train.csv',header=None)
test_data=pd.read_csv('mnist_test.csv',header=None)

In [4]:
print(train_data.info())
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60001 entries, 0 to 60000
Columns: 785 entries, 0 to 784
dtypes: object(785)
memory usage: 359.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Columns: 785 entries, 0 to 784
dtypes: object(785)
memory usage: 59.9+ MB
None

In [5]:
train_data=train_data.iloc[1:]
test_data=test_data.iloc[1:]

In [6]:
train_data.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
1,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
test_data.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X_train=train_data.drop(columns=[0]).astype(int)
y_train=train_data[0].astype(int)
X_test=test_data.drop(columns=[0]).astype(int)
y_test=test_data[0].astype(int)

In [9]:
print(np.shape(X_train))
X_train=np.array(X_train).reshape((60000,28,28,1))
X_test=np.array(X_test).reshape((10000,28,28,1))
#X_train=np.reshape(X_train,(20000,28,28,1))

(60000, 784)

In [10]:
Y_train=pd.get_dummies(y_train)
np.shape(Y_train)

(60000, 10)

In [11]:
model=Sequential()
model.add(InputLayer((28,28,1)))
model.add(Conv2D(filters=16,kernel_size=(3,3),activation='relu',padding='valid'))
model.add(Conv2D(filters=32,kernel_size=(3,3),activation='relu',padding='valid'))
model.add(MaxPool2D(pool_size=(2,2),strides=(1,1),padding='valid'))
model.add(Flatten())
model.add(Dense(units=128,activation='sigmoid'))
model.add(Dense(units=10,activation='sigmoid'))
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['acc'])

WARNING:tensorflow:From /home/rishabh_16/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [12]:
model.fit(X_train,Y_train,validation_split=0.3)

WARNING:tensorflow:From /home/rishabh_16/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 42000 samples, validate on 18000 samples
Epoch 1/1
42000/42000 [==============================] - 114s 3ms/step - loss: 0.7964 - acc: 0.7998 - val_loss: 0.2651 - val_acc: 0.9298

In [13]:
y_pred=model.predict(X_test)
Y_pred=np.argmax(y_pred,axis=1)
np.mean((Y_pred==y_test))

0.9345